@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@layer base {
	* {
		@apply border-border outline-ring/50;
	}

	body {
		@apply bg-background-2 text-foreground text-base;
	}

	button,
	[role="button"] {
		cursor: pointer;
	}

	@supports (scrollbar-width: auto) {
		.overflow-y-auto,
		.overflow-x-auto,
		.overflow-auto {
			overflow-anchor: none;
			scrollbar-color: oklch(var(--grayAlpha-300)) transparent;
			scrollbar-width: thin;
		}
	}

	@supports selector(::-webkit-scrollbar) {
		.overflow-y-auto::-webkit-scrollbar-thumb,
		.overflow-x-auto::-webkit-scrollbar-thumb,
		.overflow-auto::-webkit-scrollbar-thumb {
			background: oklch(var(--grayAlpha-300));
			border-radius: 9999px;
		}

		.overflow-y-auto::-webkit-scrollbar-track,
		.overflow-x-auto::-webkit-scrollbar-track,
		.overflow-auto::-webkit-scrollbar-track {
			background: transparent;
		}

		.overflow-y-auto::-webkit-scrollbar,
		.overflow-x-auto::-webkit-scrollbar,
		.overflow-auto::-webkit-scrollbar {
			max-width: 5px;
		}
	}

	nav[aria-label="breadcrumb"] li {
		@apply text-base;
	}
}
