# Server
BETTER_AUTH_SECRET=
RESEND_API_KEY=
KV_REST_API_URL=
KV_REST_API_TOKEN=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRO_MONTHLY_PRICE_ID=
STRIPE_PRO_YEARLY_PRICE_ID=
SLACK_BILLING_WEBHOOK_URL=
SENTRY_AUTH_TOKEN=
ANTHROPIC_API_KEY=

# Client
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WEB_URL=
NEXT_PUBLIC_POSTHOG_KEY=
# Defaults to https://us.posthog.com if not set
NEXT_PUBLIC_POSTHOG_HOST=https://us.posthog.com
NEXT_PUBLIC_SENTRY_DSN_MARKETING=
NEXT_PUBLIC_SENTRY_ENVIRONMENT=
